.homePhotos {
  display: block;
  margin: 0 auto;
  width: 100%;
  .photoContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    max-width: 1148px;
    width: 100%;
    margin: 20px auto;
    justify-content: center;
    .homePhoto-item {
      display: flex;
      aspect-ratio: 564 / 495;
      width: clamp(19.5rem, 1.5rem + 37.5vw, 35.25rem);
      height: auto;
      img {
        width: 100%;
        object-fit: cover;
      }
    }
  }
}

@media (max-width: 767px) {
  .hero_header h1 {
    font-size: clamp(1.7rem, -0.5rem + 9.388vw, 4rem);
    -webkit-text-stroke: 1px rgb(255, 255, 255);
  }

  .homePhotos .photoContainer {
    flex-direction: column;
    padding: 0 29px;
    .homePhoto-item {
      width: 100%;
    }
  }
}