* {
  box-sizing: border-box;
}

@import "header-footer";

@import "animations";

@import "popup";

@import "single-photo";

@import "fonts";

@import "home-page";

body {
  max-width: 1440px;
  height: 100%;
  margin: 0 auto;
  font-family: "Space Mono", monospace, Arial, Helvetica, sans-serif;
}

.main-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  min-height: calc(100vh - 160px);
  max-width: 1440px;
  margin: 0 auto;
}


.page-content {
  display: flex;
  flex-direction: column;
  width: 60%;
  margin: 10px auto;
}

// Pour cacher des éléments
.hiddenNow {
  display: none;
}

/**********************/
/****** Home page *****/
/**********************/

.hero_header {
  display: flex;
  aspect-ratio: 1440 / 962;
  width: 100%;
  height: auto;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-position: center;
  margin: 0;
  h1 {
    font-weight: 700;
    font-size: clamp(4rem, 1.714rem + 4.762vw, 6rem);
    font-style: italic;
    text-transform: uppercase;
    color: transparent;
    -webkit-text-stroke: 2px rgba(255, 255, 255, 1);
  }
}
